html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
 
/* Smartphones */
@media screen and (max-width: 569px){
  html{
    font-size: 14px;
  }
}
 
/* Phablets */
@media screen and (min-width: 570px){
  html {
    font-size: 15px;
  }
}
 
/* Tablets */
@media screen and (min-width: 760px){
  html {
    font-size: 16px;
  }
}
 
/* Start desktop and higher res devices*/
@media screen and (min-width: 1024px){
  html {
    font-size: 16px;
  }
}